.text-center {
  text-align: center;
}
/* section h3{
  margin: 5px;
} */

h2.text-center{
  border: 1px solid black;
}
.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.error{
  color: red;
  text-align: center;
  font-size: 20px;
}
.container {
  padding: 1rem;
}

.single-blog {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 30px;
  background-color: #fff;
}
.single-blog img {
  width: 100%;
  margin-top: 2px;
  height: 15em;
}
.blog-meta {
  font-size: 14px;
  margin-bottom: 2px;
  overflow: hidden;
}
.single-blog span {
  float: right;
  font-size: 12px;
  color: cornflowerblue;
}
.blog-text {
  font-size: 14px;
  text-align: justify;
}
.single-blog h2 {
  margin-top: 10px;
  font-size: 16px;
  color: #007bff;
}
.single-blog h2 a {
  text-decoration: none;
}

.read-more-btn {
  background-image: linear-gradient(to right, #1c03b5, #5c8bef);
  padding: 5px 12px 8px;
  border-radius: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  border: none;
  text-decoration: none;
}
.read-more-btn:hover {
  background-image: linear-gradient(to right, #006417, #00b128);
  text-decoration: none;
  color: #fff;
}

/* .App {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  background-color: rgb(135, 192, 241);
  border-radius: 5px; 5px rounded corners
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

Add some padding inside the card container
.container {
  padding: 2px 16px;
}

Add rounded corners to the top left and the top right corner of the image
img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 15em;
}

button {
  padding: 5px;
  background-color: dodgerblue;
  margin: 5px;
  border: none;
  border-radius: 3px;
}
button a {
  color: white;
}
.content {
  padding: 3px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
